@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <h3>Movies to watch:</h3>
    <ul>
        @*@foreach(var movie in movies)
        {

        }*@
    </ul>
</div>
