@model MovieWatchList.ViewModels.AddMovieViewModel;

<h1>Add a movie</h1>
<form asp-controller="Movie" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-warning font-italic"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-warning font-italic"></span>
    </div>
    <div class="form-group">
        <label asp-for="Director"></label>
        <input asp-for="Director" class="form-control" />
        <span asp-validation-for="Director" class="text-warning font-italic"></span>
    </div>
    <div class="form-group">
        <label asp-for="MainActor">Main Actor</label>
        <input asp-for="MainActor" class="form-control" />
        <span asp-validation-for="MainActor" class="text-warning font-italic"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />         @*// TODO : Fix input type  *@
        <span asp-validation-for="Rating" class="text-warning font-italic"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add movie" class="btn btn-primary" />
    </div>
</form>
